* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.wrap {
  margin: 0 auto;
  width: 900px;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ccc;
  padding: .5em;
}

th {
  background-color: #eee;
  font-weight: bold;
}

thead th { white-space: nowrap; }

.gummy-wrap {
  border-bottom: 1px solid #ccc;
  height: 550px;
  width: 100%;
}

.gummy-corner {
  border: 1px solid #ccc;
  background-color: #eee;
}